<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Kevin He" content="SuperCarsta" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="css/simpletextrotator.css" type="text/css" />
	<link rel="stylesheet" href="custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>


	<!-- Document Title
	============================================= -->
	<title><%=page%> | SuperCarsta</title>

</head>
  	<body class="stretched">
      	<div id="wrapper" class="clearfix">
      		<div id='root'>
      			<%- include('./header') %>
      			<section id="content">
	      			<div class="content-wrapper">
	      				<div class="container clearfix">
			      			<%- include('./landing') %>
			      			<%- include('./factorys') %>
		      			</div>
	      			</div>
      			</section>

			</div>
			<%- include('./footer') %>
    	</div>
    	<%if(!user){%>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-body">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4>Authentication Policy</h4>
                          <p>According to Instagram's API Authentication Policy, it is required to login with your Instagram account to start using this app. (To read public content on a user's behalf.) </p>
                          <a href="http://www.supercarsta.com/oauth/instagram" class="button button-large button-dirtygreen btn-block center"><i class="icon-instagram"></i><span>Login with Instagram</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        <%}else{%>
        		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-body">
                      <div class="modal-content">
                        <div class="modal-body">
                        	<div class="logout_modal_user_info">
                        		<img class="img-circle alignleft" src="<%=user.user_picture%>" alt="<%=user.user_name%>">
                        		<h2 class="uppercase font-secondary"><%=user.user_name%></h2>
                        		<h5 class="font-secondary"><%=user.user_bio%></h5>
                        	</div>
                        	<hr>
                          <a href="/oauth/logout" class="button button-large button-dirtygreen btn-block center"><i class="icon-instagram"></i><span>Log out</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        <%}%>
		<script type="text/javascript" src="js/functions.js"></script>
  	</body>
</html>
